.rbc-calendar{
	width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 580px;

		.rbc-month-header {
			display: flex;
			flex-direction: row;
		}

		.rbc-month-view{
			position: relative;
			border: 1px solid #DDD;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			width: 100%;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			height: 100%;
		}

		.rbc-month-row {
			display: -ms-flexbox;
			display: flex;
			position: relative;
			-ms-flex-direction: column;
			flex-direction: column;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			overflow: hidden;
			height: 100%;
			border-top: 1px solid #DDD;
		}

		.rbc-row {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-direction: row;
			flex-direction: row;
		}

		.rbc-row-content{
			position: relative;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			z-index: 4;
		}

		.rbc-row-bg{
			display: flex;
			flex-direction: row;
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		.rbc-row-bg {
			display: flex;
			flex-direction: row;
			flex: 1 0 0;
			overflow: hidden;
		}

		.rbc-date-cell{
			display: flex;
		}

		.rbc-day-bg{
			border-left: 1px solid #DDD;

		}
}